<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjgzinfo.vo.activiti.Act_Ru_TaskMapper">
	<!-- 查询待办列表 -->
	<select id="getTaskInsList" parameterType="string" resultType="hashmap">
		select t.id_ as taskid,
		t.rev_ as rev,
		t.execution_id_ as execution_id,
		t.proc_inst_id_ as processinsid,
		t.proc_def_id_ as proc_def_id,
		t.name_ as taskname,
		t.parent_task_id_ as parent_task_id,
		t.description_ as description,
		t.task_def_key_ as task_def_key,
		t.owner_ as owner,
		t.assignee_ as assignee,
		t.priority_ as priority,
		t.create_time_ as create_time,
		t.due_date_ as due_date,
		p.name_ as prodefname
		from act_ru_task t, act_re_procdef p
		where t.proc_def_id_ = p.id_
		and (t.assignee_ = #{userid} or
		(t.assignee_ is null and
		t.id_ in (select i.task_id_
		from act_ru_identitylink i
		where i.user_id_ = #{userid})))
		order by t.create_time_ desc

	</select>
	<!-- 查询已办列表 -->
	<select id="getTaskHisInsList" parameterType="string"
		resultType="hashmap">
		select t.id_ as taskid,
		t.proc_def_id_ as processdefid,
		t.proc_inst_id_ as processinsid,
		t.act_id_ as actid,
		t.act_name_ as
		actname,
		t.assignee_ as assignee,
		u.name as uname,
		t.start_time_ as
		starttime,
		t.end_time_ as endtime,
		t.duration_ as duration,
		p.name_ as
		processdefname
		from act_hi_actinst t, act_re_procdef p, t_user u
		where
		t.proc_def_id_ = p.id_
		and t.assignee_ = u.userid
		and t.end_time_ is not
		null
		and t.assignee_ = #{userid} order by t.end_time_ desc
	</select>
	<!-- 查询流程示例监控列表 -->
	<select id="getTaskMoniterList" resultType="hashmap">
		select t.id_ as
		pinsid,
		p.name_ as processdefname,
		t.start_time_ as starttime,
		t.business_key_ as buskey
		from act_hi_procinst t, act_re_procdef p
		where t.end_time_ is null
		and t.proc_def_id_ = p.id_ order by
		t.start_time_ desc
	</select>
</mapper>