<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjgzinfo.vo.TQjdMapper" >
  <resultMap id="BaseResultMap" type="com.xjgzinfo.vo.TQjd" >
    <id column="QJID" property="qjid" jdbcType="DECIMAL" />
    <result column="QJR" property="qjr" jdbcType="VARCHAR" />
    <result column="QJTS" property="qjts" jdbcType="DECIMAL" />
    <result column="QJLY" property="qjly" jdbcType="VARCHAR" />
    <result column="PROID" property="proid" jdbcType="OTHER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    QJID, QJR, QJTS, QJLY, PROID
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xjgzinfo.vo.TQjdExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_E_QJ_QJD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from T_E_QJ_QJD
    where QJID = #{qjid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from T_E_QJ_QJD
    where QJID = #{qjid,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.xjgzinfo.vo.TQjdExample" >
    delete from T_E_QJ_QJD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xjgzinfo.vo.TQjd" >
  	<selectKey keyProperty="qjid" resultType="DECIMAL" order="BEFORE">
        select SEQ_QJD.nextVal from dual
    </selectKey>
    insert into T_E_QJ_QJD (QJID, QJR, QJTS, 
      QJLY, PROID)
    values (#{qjid,jdbcType=DECIMAL}, #{qjr,jdbcType=VARCHAR}, #{qjts,jdbcType=DECIMAL}, 
      #{qjly,jdbcType=VARCHAR}, #{proid,jdbcType=OTHER})
  </insert>
  <insert id="insertSelective" parameterType="com.xjgzinfo.vo.TQjd" >
    insert into T_E_QJ_QJD
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="qjid != null" >
        QJID,
      </if>
      <if test="qjr != null" >
        QJR,
      </if>
      <if test="qjts != null" >
        QJTS,
      </if>
      <if test="qjly != null" >
        QJLY,
      </if>
      <if test="proid != null" >
        PROID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="qjid != null" >
        #{qjid,jdbcType=DECIMAL},
      </if>
      <if test="qjr != null" >
        #{qjr,jdbcType=VARCHAR},
      </if>
      <if test="qjts != null" >
        #{qjts,jdbcType=DECIMAL},
      </if>
      <if test="qjly != null" >
        #{qjly,jdbcType=VARCHAR},
      </if>
      <if test="proid != null" >
        #{proid,jdbcType=OTHER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xjgzinfo.vo.TQjdExample" resultType="java.lang.Integer" >
    select count(*) from T_E_QJ_QJD
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_E_QJ_QJD
    <set >
      <if test="record.qjid != null" >
        QJID = #{record.qjid,jdbcType=DECIMAL},
      </if>
      <if test="record.qjr != null" >
        QJR = #{record.qjr,jdbcType=VARCHAR},
      </if>
      <if test="record.qjts != null" >
        QJTS = #{record.qjts,jdbcType=DECIMAL},
      </if>
      <if test="record.qjly != null" >
        QJLY = #{record.qjly,jdbcType=VARCHAR},
      </if>
      <if test="record.proid != null" >
        PROID = #{record.proid,jdbcType=OTHER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_E_QJ_QJD
    set QJID = #{record.qjid,jdbcType=DECIMAL},
      QJR = #{record.qjr,jdbcType=VARCHAR},
      QJTS = #{record.qjts,jdbcType=DECIMAL},
      QJLY = #{record.qjly,jdbcType=VARCHAR},
      PROID = #{record.proid,jdbcType=OTHER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xjgzinfo.vo.TQjd" >
    update T_E_QJ_QJD
    <set >
      <if test="qjr != null" >
        QJR = #{qjr,jdbcType=VARCHAR},
      </if>
      <if test="qjts != null" >
        QJTS = #{qjts,jdbcType=DECIMAL},
      </if>
      <if test="qjly != null" >
        QJLY = #{qjly,jdbcType=VARCHAR},
      </if>
      <if test="proid != null" >
        PROID = #{proid,jdbcType=OTHER},
      </if>
    </set>
    where QJID = #{qjid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xjgzinfo.vo.TQjd" >
    update T_E_QJ_QJD
    set QJR = #{qjr,jdbcType=VARCHAR},
      QJTS = #{qjts,jdbcType=DECIMAL},
      QJLY = #{qjly,jdbcType=VARCHAR},
      PROID = #{proid,jdbcType=OTHER}
    where QJID = #{qjid,jdbcType=DECIMAL}
  </update>
</mapper>