<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xjgzinfo.vo.TQjgcMapper" >
  <resultMap id="BaseResultMap" type="com.xjgzinfo.vo.TQjgc" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="QJR" property="qjr" jdbcType="VARCHAR" />
    <result column="QJSJ" property="qjsj" jdbcType="TIMESTAMP" />
    <result column="QJTS" property="qjts" jdbcType="DECIMAL" />
    <result column="SPYJ" property="spyj" jdbcType="VARCHAR" />
    <result column="SPR" property="spr" jdbcType="VARCHAR" />
    <result column="SPSJ" property="spsj" jdbcType="TIMESTAMP" />
    <result column="PROID" property="proid" jdbcType="OTHER" />
    <result column="TASKNAME" property="taskname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, QJR, QJSJ, QJTS, SPYJ, SPR, SPSJ, PROID, TASKNAME
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.xjgzinfo.vo.TQjgcExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_E_QJ_QJGC
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from T_E_QJ_QJGC
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from T_E_QJ_QJGC
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByExample" parameterType="com.xjgzinfo.vo.TQjgcExample" >
    delete from T_E_QJ_QJGC
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.xjgzinfo.vo.TQjgc" >
  <selectKey keyProperty="id" resultType="DECIMAL" order="BEFORE">
        select SEQ_QJGC.nextVal from dual
    </selectKey>
    insert into T_E_QJ_QJGC (ID, QJR, QJSJ, 
      QJTS, SPYJ, SPR, SPSJ, 
      PROID, TASKNAME)
    values (#{id,jdbcType=DECIMAL}, #{qjr,jdbcType=VARCHAR}, #{qjsj,jdbcType=TIMESTAMP}, 
      #{qjts,jdbcType=DECIMAL}, #{spyj,jdbcType=VARCHAR}, #{spr,jdbcType=VARCHAR}, #{spsj,jdbcType=TIMESTAMP}, 
      #{proid,jdbcType=OTHER}, #{taskname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xjgzinfo.vo.TQjgc" >
    insert into T_E_QJ_QJGC
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="qjr != null" >
        QJR,
      </if>
      <if test="qjsj != null" >
        QJSJ,
      </if>
      <if test="qjts != null" >
        QJTS,
      </if>
      <if test="spyj != null" >
        SPYJ,
      </if>
      <if test="spr != null" >
        SPR,
      </if>
      <if test="spsj != null" >
        SPSJ,
      </if>
      <if test="proid != null" >
        PROID,
      </if>
      <if test="taskname != null" >
        TASKNAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="qjr != null" >
        #{qjr,jdbcType=VARCHAR},
      </if>
      <if test="qjsj != null" >
        #{qjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="qjts != null" >
        #{qjts,jdbcType=DECIMAL},
      </if>
      <if test="spyj != null" >
        #{spyj,jdbcType=VARCHAR},
      </if>
      <if test="spr != null" >
        #{spr,jdbcType=VARCHAR},
      </if>
      <if test="spsj != null" >
        #{spsj,jdbcType=TIMESTAMP},
      </if>
      <if test="proid != null" >
        #{proid,jdbcType=OTHER},
      </if>
      <if test="taskname != null" >
        #{taskname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.xjgzinfo.vo.TQjgcExample" resultType="java.lang.Integer" >
    select count(*) from T_E_QJ_QJGC
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update T_E_QJ_QJGC
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.qjr != null" >
        QJR = #{record.qjr,jdbcType=VARCHAR},
      </if>
      <if test="record.qjsj != null" >
        QJSJ = #{record.qjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.qjts != null" >
        QJTS = #{record.qjts,jdbcType=DECIMAL},
      </if>
      <if test="record.spyj != null" >
        SPYJ = #{record.spyj,jdbcType=VARCHAR},
      </if>
      <if test="record.spr != null" >
        SPR = #{record.spr,jdbcType=VARCHAR},
      </if>
      <if test="record.spsj != null" >
        SPSJ = #{record.spsj,jdbcType=TIMESTAMP},
      </if>
      <if test="record.proid != null" >
        PROID = #{record.proid,jdbcType=OTHER},
      </if>
      <if test="record.taskname != null" >
        TASKNAME = #{record.taskname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update T_E_QJ_QJGC
    set ID = #{record.id,jdbcType=DECIMAL},
      QJR = #{record.qjr,jdbcType=VARCHAR},
      QJSJ = #{record.qjsj,jdbcType=TIMESTAMP},
      QJTS = #{record.qjts,jdbcType=DECIMAL},
      SPYJ = #{record.spyj,jdbcType=VARCHAR},
      SPR = #{record.spr,jdbcType=VARCHAR},
      SPSJ = #{record.spsj,jdbcType=TIMESTAMP},
      PROID = #{record.proid,jdbcType=OTHER},
      TASKNAME = #{record.taskname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.xjgzinfo.vo.TQjgc" >
    update T_E_QJ_QJGC
    <set >
      <if test="qjr != null" >
        QJR = #{qjr,jdbcType=VARCHAR},
      </if>
      <if test="qjsj != null" >
        QJSJ = #{qjsj,jdbcType=TIMESTAMP},
      </if>
      <if test="qjts != null" >
        QJTS = #{qjts,jdbcType=DECIMAL},
      </if>
      <if test="spyj != null" >
        SPYJ = #{spyj,jdbcType=VARCHAR},
      </if>
      <if test="spr != null" >
        SPR = #{spr,jdbcType=VARCHAR},
      </if>
      <if test="spsj != null" >
        SPSJ = #{spsj,jdbcType=TIMESTAMP},
      </if>
      <if test="proid != null" >
        PROID = #{proid,jdbcType=OTHER},
      </if>
      <if test="taskname != null" >
        TASKNAME = #{taskname,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xjgzinfo.vo.TQjgc" >
    update T_E_QJ_QJGC
    set QJR = #{qjr,jdbcType=VARCHAR},
      QJSJ = #{qjsj,jdbcType=TIMESTAMP},
      QJTS = #{qjts,jdbcType=DECIMAL},
      SPYJ = #{spyj,jdbcType=VARCHAR},
      SPR = #{spr,jdbcType=VARCHAR},
      SPSJ = #{spsj,jdbcType=TIMESTAMP},
      PROID = #{proid,jdbcType=OTHER},
      TASKNAME = #{taskname,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>